<div class="md:w-1/6 bg-blue-300 px-2 absolute border-t h-full lg:flex hidden">
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-no-wrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded">
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <ul>
            <li class="mx-8 text-gray-800 hover:text-gray-300 cursor-pointer">
              <i></i>
              <a routerLink="/cards">Chat</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
